<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-AdrianaCamarillo-A01551139/blob/main/Semana5_IBM_A01551139.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Actividad de semana 5: Data Analysis with Python (IBM)

## Materia: Ciencia y analítica de datos

Prof Jobish Vallikavungal

Prof Roberto Antonio Guevara González

## Nombre: Adriana Camarillo Duran

## Matrícula: A01551139

Fecha de entrega: 18/10/2022

## Module 2 - Data Wrangling

Cada columna de un dataframe es un data series

### Missing values

Cuando no hay datos guardados en una variable para una observación en particular, se le llama 'missing value'. Normalmente, los missing values en un dataset se ven de la siguiente manera: "?", "N/A", 0 o una celda en blanco

Para lidiar con estos valores hay varias maneras: 

- Preguntar, con la persona o el grupo que junto los datos, si es posible recuperar o buscar el valor que debería contener esa celda.

- Eliminar estos campos, ya sea la variable completa o la observación donde ocurrió esto. Si se tienen pocos valores nulos, generalmente lo mejor es eliminar las observaciones que tienen esos valores nulos.

- Reemplazar los missing values con valores como el promedio, la mediana o la moda.

- Reemplazar los valores con base en otras características

- Dejarlo así

Para eliminar valores nulos con Pandas, se puede usar el método dropna(), el cual tiene argumentos como:

- axis (0 o 1) para indicar si se quiere hacer por renglón o columna
- inplace (True o False) para hacer la operación sobre el dataframe original

In [ ]:
dataframes.dropna()

Para reemplazar valores nulos con Pandas, se puede usar el método replace(). Primero se indica el valor a reemplazar y luego con lo que se va a reemplazar.

In [ ]:
dataframes.replace(missing_value, new_values)

### Data Formatting

Darle formato a los datos quiere decir llevar todos los datos a un estandar común de expresión que permita a los usuarios hacer comparaciones significativas.

Esto ayuda a que los datos sean constantes y se puedan comprender mejor.

Se pueden hacer operaciones a una columna entera para convertir datos y también si es necesario se pueden renombrar las columnas con el método rename()

In [ ]:
df.rename(columns= {'column_name': 'new_column_name'}, inplace=True)

Podemos utiliza el método .dtypes() para identificar los tipos de datos de cada variable. Con el método .astype() podemos cambiar estos tipos de datos por otros.

In [ ]:
dataframe.dtypes()

In [ ]:
dataframe['variable']= dataframe['variable'].astype('int')

### Data Normalization

Cuando los datos tienen escales diferentes, y no están normalizados, es difícil hacer comparaciones. 

Además puede que una variable impacte más un modelo o análisis, a pesar de que no necesariamente es más importante.

Existen tres métodos para normalizar datos:
- Simple feature scaling 

  $x_{new}=\frac{x_{old}}{x_{max}}$

- Min-Max

  $x_{new}=\frac{x_{old} - x_{min}}{x_{max} - x_{min}}$

- Z-core

  $x_{new}=\frac{x_{old} - \mu}{\sigma}$

Hay métodos en pandas que nos pueden ayudar a esto como:

- .max()
- .min()
- .std()

### Data Binning

Binning es cuando se agrupan datos en bins, lo cual nos puede servir para convertir variables numéricas en categóricas para comprender mejor los datos.

Con la función de Numpy linspace, podemos crear estos bins. Le indicamos el valor mínimo de la variable, el máximo y luego la cantidad de números entre los cuales se crearán los bins (e.g. número de bins + 1) :

In [ ]:
bins = np.linspace(min(df['variable']), max(df['variable']), 4)

También hacemos una lista con los nombres de los grupos o bins:

In [ ]:
group_names= ['Low', 'Medium', 'High']

Y con la función cut() de pandas, se segmentan y ordenan los valores a bins:

In [ ]:
df['variable_binned']= pd.cut(df['variable'], bins, labels= gropu_names, include_lowest= True)

### Transformación de datos categóricos a numéricos

Muchos modelos estadísticos no pueden tomar strings u objetos como inputs, por lo que es conveniente convertirlos en valores numéricos.

Para corregir esto se puede hacer one-hot enconding que es agregar variables dummy por cada categoría, y asignarles valores de 1 en la dummy que representa la cateogría actual y 0 en las demás.

En Pandas, podemos utilizar el método get_dummies() para obtener estas variables dummy

In [ ]:
pd.get_dummies(df['variable_categorica'])